.info-list {
  list-style-type: disc;       
  padding-left: 2rem;         
  margin-top: 0.75rem;  
  margin-left: 0.75rem;       
}

.info-list li {
  margin-bottom: 0.6rem;     
  text-align: left;
  font-size: 0.95rem;
  color: #212529;
  line-height: 1.5;           
}
